<!DOCTYPE html>
<html>
<head>
  <title>VinylApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="/" class="active">Vinyl.me</a></li>
        <!-- if current_user = nil -->
            <li><a href="/about">About <span class="sr-only">(current)</span> </a></li>
            <li><%= link_to "Playlists", playlists_path %></li>
        <!-- if current_user != nil, Collection and Wishlist -->
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <%=
                 link_to_if(@current_user.nil?, "Login", new_user_session_path) do
                   link_to(@current_user.login, { controller: "accounts", action: "show", id: @current_user })
                 end
              %>
              <%#= link_to "Sign In", new_user_session_path %>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  <div class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
